vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-4SNOKE3L\\Ashraful
vti_modifiedby:SR|LAPTOP-4SNOKE3L\\Ashraful
vti_timelastmodified:TR|28 Jul 2017 20:42:30 -0000
vti_timecreated:TR|26 Jul 2017 13:42:31 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|donate/default.html donate/Donate\\ Goods.html calendar/demos/selectable.html links/default.html photo_gallery/default.html master.dwt donate/Donate\\ Money.html about_me/default.html contact/default.html resume/default.html default.html
vti_nexttolasttimemodified:TW|28 Jul 2017 20:42:29 -0000
vti_cacheddtm:TX|28 Jul 2017 20:42:30 -0000
vti_filesize:IR|2571
vti_cachedlinkinfo:VX|Q|layout.css S|../images/background_tile.gif S|../images/header2_image.jpg
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/background_tile.gif FSUS|images/header2_image.jpg
